
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  flex-direction: column;
  align-items: center;
}

.container-title {
  font-size: 30px;
  justify-content: center;
  color: tomato;
}

.containerInfo {
  display: flex;
  width: 600px;
  align-items: flex-end;
  margin-left: 80%;
  margin-top: 10px;
}

.infoTempo {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.infoTempo > span {
  font-size: 20px;
  color: #999;
  font-weight: 300;
}

.infoAtual {
  margin-left: 10px;
  font-size: 35px;
  color: #444;
}